body {
	background-color: rgba(0,171,230,1);	
	font-size: 14px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

a, a:visited {
  color: black;
}

.docitem table a {
  text-decoration: none;
}

.docitem table a:hover {
  text-decoration: underline;
}

#header {
  padding: 8px;
}

#header #header-text {
  float: left;
}

#header h1 {
	color: white;
  margin: 8px;
}

#header #header-logo {
  float: right;
}

#header h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14pt;
  margin: 6px;
}

#header h1, #header h2 {
  display: inline;
}

#vis, #doc {
	background-color: white;
	position: absolute;
	top: 60px;
  bottom: 0;
  margin-bottom: 6px;
  box-shadow:inset 0 0 5px rgba(0,0,0,0.4);
}

#vis {
	left: 0;
  right: 50%;
  overflow: hidden;
  margin-left: 6px;
  margin-right: 3px;
}

/*
.docitem h2 span,
.docitem tr {
  cursor: pointer;
}*/

.clickable {
  cursor: pointer;
}

.CodeMirror {
   background-color: #eee;
   padding: 3px;
}

#doc {
	left: 50%;
  right: 0;
  overflow: auto;
  padding: 20px;
  margin-right: 6px;
  margin-left: 3px;
}

#doc table td {
  vertical-align: middle;
  padding: 3px;
}

#doc ol li.docitem {
 padding-bottom: 10px;
}

#doc ol li.docitem:not(:last-child) {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,171,230,0.3);
}

#doc ol li:first-child h2 {
  margin-top: 0;
}

#doc ol {
	/*padding-right: 2em;*/
}

#doc > ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#doc li.docitem .result-links {
  float: right;
}

#doc li.docitem .result-links,
#doc li.docitem .result-links a {
  color: #888;
  font-size: 85%;
}

.subtitle {
  color: #888;
  fill: #888;
  font-size: 85%;
}

#vis .title {
  font-size: 120%;
}

/* SVG */

.link {
	fill: none;
	stroke: rgba(200, 200, 200, .8);
	stroke-width: 1px;
}

#triangle,
#circle-marker,
#circle {
  fill: #00ABE6;
}

#spinner line {
  fill: none;
  stroke-width: 10;
  stroke: #00ABE6;
  stroke-miterlimit: 10;  
  stroke-linecap: round;
  stroke-linejoin: round;
}


