/*body {
	font-size: 14px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-rendering: optimizeLegibility;
	margin-top: 1em;
	overflow-y: scroll;
}

.node circle {
  fill: #00ABE6;
  stroke: #00ABE6;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #A1D4E6;
  stroke-width: 1.5px;
}*/




