body {
	background-color: #00ABE6;	
	font-size: 14px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-rendering: optimizeLegibility;
}

.hidden {
  display: none;
}

#header h1 {
	color: white;
}

#content #vis, #content #doc {
	width: 50%;
	background-color: white;
	position: relative;
	bottom: 0;
}

#content #vis {
	float: left;
}

#content #doc {
	float: right;
}

#content #doc ol {
	padding-right: 2em;
}

/* SVG */

.link {
	fill: none;
	stroke: #CCC;
	stroke-width: 1.5px;
}




