<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Developing Arts Holland - Visualized</title>
		<link href="static/css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="static/css/codemirror/codemirror.css">
	</head>
	<body>
		<div id="header">
			<h1>Developing Arts Holland - Visualized</h1>
		</div>
		<div id="content">
			<div id="vis"></div>
			<div id="doc">
			</div>
		</div>
	<script type="text/javascript" src="static/js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="static/js/d3.v3.js"></script>
	<script type="text/javascript" src="static/js/handlebars.js"></script>
	<script type="text/javascript" src="static/js/spin.min.js"></script>
	<script src="static/js/codemirror/codemirror.js"></script>
	<script src="static/js/codemirror/sparql.js"></script>
	<script type="text/x-handlebars-template" id="step-template">
		<h2>{{title}}</h2>
		{{{doc}}}				
		{{#if sparql}}
		<textarea class="sparql">{{sparql}}</textarea>
	  	{{/if}}
		<div class="options">
		{{#each buttons}}
			<button data-index="{{index}}" data-depth="{{depth}}">{{title}}</button>
		{{/each}}
		</div>
	</script>
	<script type="text/javascript" src="static/js/sparql.js"></script>
	<script type="text/javascript" src="static/js/doc.js"></script>
	<script type="text/javascript" src="static/js/vis.js"></script>
  <script>
    $(document).ready(function() {
      startDoc();
      //startVis();
    });
    
    
    // var opts = {
    //   lines: 9, // The number of lines to draw
    //   length: 3, // The length of each line
    //   width: 2, // The line thickness
    //   radius: 4, // The radius of the inner circle
    //   corners: 1, // Corner roundness (0..1)
    //   rotate: 0, // The rotation offset
    //   direction: 1, // 1: clockwise, -1: counterclockwise
    //   color: '#000', // #rgb or #rrggbb
    //   speed: 1, // Rounds per second
    //   trail: 50, // Afterglow percentage
    //   shadow: false, // Whether to render a shadow
    //   hwaccel: false, // Whether to use hardware acceleration
    //   className: 'spinner', // The CSS class to assign to the spinner
    //   zIndex: 2e9, // The z-index (defaults to 2000000000)
    //   top: 'auto', // Top position relative to parent in px
    //   left: 'auto' // Left position relative to parent in px
    // };
    // var target = document.getElementById('foo');
    // var spinner = new Spinner(opts).spin(target);
    
  </script>  
	</body>
</html>